@use '../utils/mediaQueries' as mq;

.headingWithBg {
  position: relative;
  width: fit-content;

  &__heading {
    &Hero {
      left: 2px;
      top: 20px;
      transform: translate(0, 0);
      font-weight: 400;
      color: #8D8D8D;
      margin: 0;
      width: fit-content !important;
    }

    z-index: 2;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #000;
    width: 100%;
    text-align: center;
    @include mq.forDevices(mobile) {
      font-size: 23px;
    }
    @include mq.forDevices(tablet) {
      font-size: 26px;
    }
    @include mq.forDevices(laptop) {
      font-size: 26px;
    }
    @include mq.forDevices(desktop-xl) {
      font-size: 36px;
    }
  }

  &__bg {
    z-index: 1;
    max-width: 100%;
    height: auto;
  }
}
