.headingWithBg {
  position: relative;
  width: fit-content;

  &__heading {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #000;

    &Hero {
      left: 2px;
      top: 20px;
      transform: translate(0, 0);
      font-size: 38px;
      font-weight: 400;
      color: #8D8D8D;
      margin: 0;
    }
  }

  &__bg {
    z-index: 1;
  }
}
