@use '../base/variables' as global_vars;
@use '../utils/mediaQueries' as mq;
@use '../utils/layout' as layout;

.topMenuBar {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 35px;
  display: inline-flex;
  justify-content: center;
  background: #111111;
  height: 92px;
  padding-block: 20px;
  font-family: map-get(global_vars.$fontFamilies, secondary);
  transition: transform 0.3s ease-in-out;

  @include mq.forDevices(mobile tablet) {
    top: 0;
    position: fixed;
    width: 100vw;
  }

  &__hamburger {
    @include mq.forDevices(mobile tablet) {
      display: block;
      position: absolute;
      $width: 30px;

      right: 20px;
    }

    @include mq.forDevices(mobile) {
      display: block;
      position: absolute;
      right: 20px;
    }

    @include mq.forDevices(laptop desktop-all) {
      display: none;
    }
  }

  &__logo {
    z-index: 15;

    @include mq.forDevices(mobile tablet) {
      position: absolute;
      left: 20px;
      max-height: 40px;
      max-width: 100px;
      top: 5px;
    }

    @include mq.forDevices(laptop) {
      max-height: 40px;
      margin-right: 0;
    }

    @include mq.forDevices(desktop-s) {
      max-height: 44px;
      margin-right: 10px;
    }

    @include mq.forDevices(desktop-l) {
      max-height: 48px;
      margin-right: 22px;
    }

    @include mq.forDevices(desktop-xl) {
      margin-bottom: -6px;
      margin-right: 38px;
    }
  }

  &__contentWrapper {
    @include layout.maxWidthContainer;
    width: 90%;
    position: relative;
    display: inline-flex;
    align-items: center;

    @include mq.forDevices(mobile tablet) {
      width: 100%;
    }

    @include mq.forDevices(laptop) {
      width: 100%;
      padding-inline: 25px;
    }
  }

  &StickyTop {
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  }

  &VisibleDesktop {
    transform: translateY(0);
  }

  &HiddenDesktop {
    transform: translateY(-110%);
  }
}


