@use '../base/variables' as global_vars;
@use '../utils/hoverEffects' as hoverEffects;
@use '../utils/mediaQueries' as mq;
@use '../utils/layout' as layout;

.topMenuBar {
  z-index: 10;
  width: 100%;
  position: absolute;
  top: 40px;
  transition: ease-in-out 0.5s;
  display: inline-flex;
  justify-content: center;
  background: #111111;
  height: 82px;
  padding-block: 15px;
  font-family: map-get(global_vars.$fontFamilies, secondary);

  &__hamburger {
    display: none;
  }
}

.topMenu {
  @include layout.maxWidthContainer;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0.1px;

  & > ul {
    display: contents;
    list-style-type: none;
  }

  &__item {
    width: fit-content;
    text-decoration: none;

    &Default {
      padding: 5px 20px 2px;
      margin-inline: 17px;
      @include hoverEffects.underlineOnHover();
    }

    &Logo {
      margin-right: 38px;
      display: flex;
      align-items: center;
    }

    &Cta {
      margin-left: auto;
    }
  }

  &__link {
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
  }

  &__logo {
    margin-bottom: -6px;
  }

  &__ctaBtn {
    $height: 52px;
    $hover-transition: ease-in-out 0.3s;
    position: relative;
    width: 150px;
    height: $height;
    border-radius: calc(#{$height} / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    text-decoration: none;
    color: #FFF;
    background: #292929;
    transition: $hover-transition;
    @include hoverEffects.ctaArrowFadeOnHover($hover-transition, 28px, 26px);
  }
}
