@use '../utils/layout' as layout;
@use '../utils/mediaQueries' as mediaQuery;

.registerSection {
  width: 100%;
  background: #000;
  height: 603px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @include mediaQuery.forDevices(mobile tablet) {
    height: fit-content;
  }
  @include mediaQuery.forDevices(laptop) {
    height: 440px;
  }
  @include mediaQuery.forDevices(desktop-s desktop-l) {
    height: 500px;
  }

  &__contentWrapper {
    @include layout.maxWidthContainer;
    width: 90%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include mediaQuery.forDevices(mobile tablet) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding-inline: 10px;
      padding-bottom: 50px;
    }
  }

  &__textWrapper {
    width: 50%;
    max-width: 720px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

    @include mediaQuery.forDevices(mobile tablet) {
      width: 100%;
    }
  }

  &__imgWrapper {
    height: 110%;
    width: 760px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: -45px;

    @include mediaQuery.forDevices(mobile) {
      width: 90%;
      max-width: 300px;
      height: 180px;
      margin: 20px 0 0;
    }
    @include mediaQuery.forDevices(tablet) {
      width: 90%;
      max-width: 300px;
      height: 250px;
      margin: 0;
    }
    @include mediaQuery.forDevices(laptop) {
      width: 360px;
    }
  }

  &__title {
    font-size: 34px;
    color: #FFF;
    text-shadow: -1.2px 0 0 #FFF;
    letter-spacing: 1.5px;
    line-height: 1.2;

    @include mediaQuery.forDevices(mobile) {
      margin-top: 0;
      font-size: 24px;
      line-height: 1.4;
      text-shadow: -0.2px 0 0 #FFF;
      letter-spacing: 1.2px;
      margin-bottom: 5px;
    }
    @include mediaQuery.forDevices(tablet) {
      margin-top: 0;
      font-size: 28px;
      text-shadow: -0.5px 0 0 #FFF;
      letter-spacing: 1.2px;
    }
    @include mediaQuery.forDevices(laptop) {
      font-size: 32px;
      text-shadow: -0.5px 0 0 #FFF;
      letter-spacing: 1.2px;
    }
  }

  &__img {
    position: absolute;

    &Outer {
      z-index: 1;
    }

    &Inner {
      z-index: 2;

      @include mediaQuery.forDevices(mobile tablet) {
        width: 90%;
        max-width: 140px;
        margin: 0;
      }
      @include mediaQuery.forDevices(laptop) {
        max-width: 180px;
      }
    }
  }

}
