@use '../base/variables' as global_vars;

@mixin maxWidthContainer {
  width: 100%;
  max-width: global_vars.$maxContentWidth;
}

@mixin bigContentCard {
  @include maxWidthContainer;
  background: #FFF;
  border-radius: 30px;
  box-shadow: 50px 50px 99px #2222220F;
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 123px;
}
