$-mediaQueries: (
        'mobile' : "only screen and (max-width: 480px)",
        'tablet' : "only screen and (min-width: 481px) and (max-width: 768px)",
        'laptop' : "only screen and (min-width: 769px) and (max-width: 1080px)",
        'desktop-all' : "only screen and (min-width: 1081px)",
        'desktop-s' : "only screen and (min-width: 1081px) and (max-width: 1200px)",
        'desktop-l' : "only screen and (min-width: 1201px) and (max-width: 1462px)",
        'desktop-xl' : "only screen and (min-width: 1463px)"
);

@mixin forDevices($devices) {
  $conditions: ();
  @each $device in $devices {
    $conditions: append(
                    $conditions,
                    #{map-get($-mediaQueries, $device)},
                    comma
    );
  }
  @media #{$conditions} {
    @content;
  }
}
