@use "../utils/mediaQueries";
@use '../base/variables';

@mixin underlineEffectOnHover($lineWidth: 2em, $bottom: 0) {
  @include mediaQueries.forDevices(laptop desktop-all) {
    position: relative;
    display: flex;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      z-index: 5;
      width: 0;
      height: 1px;
      bottom: $bottom;
      background: #FFF;
      transition: ease-in-out 0.2s;
    }
    &:hover::after {
      width: $lineWidth;
    }
  }
}
