@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=PT+Sans:wght@400;700&display=swap');

$maxContentWidth: 1460px;

$fontFamilies: (
        primary: #{'PT Sans', sans-serif},
        secondary: #{'Hind', sans-serif}
);

$colors: (
        primaryCta: #F46632,
);
