@use 'variables';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: map-get(variables.$fontFamilies, primary);
  font-weight: 400;
  letter-spacing: 0.3px;
  background: #FAFAFA;
}

main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

body * {
  box-sizing: border-box;
}

#__next {
  width: 100%;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px)
  }
}
